
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .gray-bg {
        background-color: white;
    }
</style>
@model Common.PageInfo
<div class="wrapper wrapper-content">
    <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>阶段任务管理</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-info btn-xs p210" href="/Pro/Project"><i class="fa fa-reply-all fa-fw"></i> 返回项目列表</a>
                        <a class="btn btn-primary btn-xs p210" id="insert" action="add"><i class="fa fa-plus-circle fa-fw"></i> 添加新任务</a>
                        <a class="btn btn-warning btn-xs p210" id="modify" action="edit"><i class="fa fa-pencil fa-fw"></i> 编辑任务</a>
                        <a class="btn btn-danger btn-xs p210" id="delete" action="remove"><i class="fa fa-trash-o fa-fw"></i> 删除任务</a>
                        <a class="reload-link" style="color: #c4c4c4" href="javascript:dig.reload()" data-toggle="tooltip" data-placement="left" title="刷新">
                            <i class="fa fa-repeat fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("Index", null, new AjaxOptions() { }, new { @id = "form1", @class = "form-horizontal", @method = "get" }))
                    {
                        <div class="row">
                            <div class="col-sm-9">  
                                <input id="ProjectId" name="id" type="hidden" value="@ViewBag.ProjectId" />                            
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    @Html.TextBox("Search", null, new { @class = "input-sm form-control", @placeholder = "请输入查询关键词" })
                                    <span class="input-group-btn">
                                        <button type="submit" onclick="submit()" class="btn btn-sm btn-primary"> 搜索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="dataTable" class="table table-striped table-bordered table-hover dataTables-example" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th class="tn" style="width: 50px !important"><input name="checkall" class="icheck_box" type="checkbox" value=""></th>
                                        <th>阶段名称</th>
                                        <th>阶段状态</th>
                                        <th>阶段工时</th>
                                        <th>是否超期</th>
                                        <th>需求人数</th>
                                        <th>加入人数</th>
                                        <th>阶段排序</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{foreach (var item in Model.List)
                                    {
                                        <tr>
                                            <td class="tn"><input name="checkbox_name" class="icheck_box" type="checkbox" value="@item.ID" /></td>
                                            <td><a href="javascript:EditStage('@item.ID')" listaction="detail" data-toggle="tooltip" data-placement="right" title="修改">@item.StageTitle</a></td>
                                            <td class="text-primary">@item.StageStatus</td>
                                            <td>@item.StageTimeLimit 小时</td>
                                            <td>@Html.Raw(item.IsOverTime)</td>
                                            <td>@item.NeedNumber 人</td>
                                            <td>@item.JsonNumber 人</td>
                                            <td>@item.OrderNumber</td>
                                            <td>@item.StartDate</td>
                                            <td>@item.EndDate</td>
                                        </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_info">
                                    显示 @Model.BeginPage 到 @Model.EndPage 项，共 @Model.Count 项, 每页显示
                                    <select name="example_length" class="form-control input-sm input-xs-sm inline" onchange="submit()">
                                        <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                                        <option value="25" @(Model.PageSize == 25 ? "selected" : "")>25</option>
                                        <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                                        <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                                    </select> 条记录
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @Service.CommonHtmlHelper.PaginationPager(Model.Index, Model.PageSize, Model.Count, 7, Model.Url)
                            </div>
                        </div>
                    }
                </div>
            </div>        
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            //添加新用户
            $("#insert").click(function () {
                dig.addPage("添加新任务", "/Pro/ProjectStage/detail?projectId=" + $("#ProjectId").val(), 800, 450, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
            //列表选择修改
            $('#modify').click(function () {
                var vals = '';
                var num = 0;
                $('input[name="checkbox_name"]:checked').each(function () {
                    vals = $(this).val();
                    num++;
                });
                if (!vals) {
                    dig.error("对不起，请选中您要操作的记录！");
                    return;
                }
                if (num > 1) {
                    dig.error("对不起，每次只能修改一条记录！");
                    return;
                }
                dig.addPage("编辑任务", "/Pro/ProjectStage/detail/" + vals, 800, 450, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
        });
        //跳转修改
        function EditStage(n) {
            dig.addPage("编辑任务", "/Pro/ProjectStage/detail/" + n, 800, 450, function () {
                if (this.returnValue == 'yes') {
                    location.reload();
                }
            });
        }       
    </script>
}











