@model Common.PageInfo

<div class="animated ">
    <div class="row">
        <table id="dataTable" class="table table-striped table-bordered table-hover dataTables-example" style="text-align:center;">
            <thead>
                <tr>
                    <th class="tn" style="width: 40px !important">
                        <input id="checkall" name="checkall" class="icheck_box" type="checkbox" value="">
                    </th>
                    <th class="tn" style="width: 310px !important">客户名称</th>
                    <th>所在地</th>
                    <th>公司电话</th>
                    <th>客戶狀態</th>
                    <th>创建时间</th>
                    <th>详细</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                    <td colspan="7" id="ajax-loader" style="display:none;text-align:center">
                        數據加載中...
                    </td>
                </tr>*@
                @{
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td class="tn">
                                <input id="cb_@item.s_CustomerID" name="checkbox_name" class="icheck_box" type="checkbox" value="@item.s_CustomerID" />
                            </td>
                            <td class="tn" style="width: 220px !important">
                                <a href="javascript:EditCustomer('@item.s_CustomerName')" listaction="detail" data-toggle="tooltip" data-placement="right" title="修改">@item.s_CustomerName</a>
                            </td>
                            <td>@Html.Raw(item.s_Province + "&nbsp;" + item.s_City + "&nbsp;" + item.s_County)</td>
                            <td>
                                <i class="fa fa-phone fa-fw contact-type"></i> @item.s_Telephone
                            </td>
                            <td>
                                @(Enum.GetName(typeof(Domain.Enums.CustomerState), item.s_CustomerState))
                            </td>
                            <td>@item.s_AddTime</td>
                            <td>
                                <a class="btn btn-white btn-xs p210" href="javascript:DetailInfo('@item.s_CustomerID')" listaction="View" data-toggle="tooltip" data-placement="left" title="联系人信息"><i class="fa fa-user fa-fw"></i> </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="pagination">
    @{ Html.RenderPartial("~/Views/CommonControl/PaginationControl.cshtml");}
</div>