@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .topbox {
        position: absolute;
        width: 180px;
        height: 36px;
        display: block;
        top: 0;
        left: 10px;
        z-index: 9;
        font-size: 25px;
    }

        .topbox .download {
            float: left;
            margin-top: 5px;
        }

            .topbox .download a {
                color: #c4c4c4;
            }

                .topbox .download a:hover {
                    color: #1ab394;
                }

        .topbox .chooseItem {
            float: right;
        }
</style>
@model Common.PageInfo
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>项目文档</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-info btn-xs p210" href="/Pro/Project"><i class="fa fa-reply-all fa-fw"></i> 返回项目列表</a>
                        <a class="btn btn-primary btn-xs p210" id="insert" action="add"><i class="fa fa-plus-circle fa-fw"></i> 添加新文档</a>
                        <a class="btn btn-warning btn-xs p210" id="modify" action="edit"><i class="fa fa-pencil fa-fw"></i> 编辑文档</a>
                        <a class="btn btn-danger btn-xs p210" id="delete" action="remove"><i class="fa fa-trash-o fa-fw"></i> 删除文档</a>
                        <a class="reload-link" style="color: #c4c4c4" href="javascript:dig.reload()" data-toggle="tooltip" data-placement="left" title="刷新">
                            <i class="fa fa-repeat fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("Index", null, new AjaxOptions() { }, new { @id = "form1", @class = "form-horizontal", @method = "get" }))
                    {
                        <div class="row">
                            <div class="col-sm-9">
                                <input id="ProjectId" name="id" type="hidden" value="@ViewBag.ProjectId" />
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    @Html.TextBox("Search", null, new { @class = "input-sm form-control", @placeholder = "请输入查询关键词" })
                                    <span class="input-group-btn">
                                        <button type="submit" onclick="submit()" class="btn btn-sm btn-primary"> 搜索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    @{foreach (var item in Model.List)
                                    {
                                        <div class="file-box">
                                            <div class="topbox">
                                                <div class="download"><a href="@item.DocPath" data-toggle="tooltip" data-placement="top" title="下载文档"><i class="fa fa-download"></i></a></div>
                                                <div class="chooseItem"><input name="checkbox_name" class="icheck_box" type="checkbox" value="@item.ID" /></div>
                                            </div>
                                            <div class="file">
                                                <a href="javascript:void(0)" class="checkselected">
                                                    <span class="corner"></span>
                                                    <div class="icon"><i class="@item.Icon"></i></div>
                                                    <div class="file-name">
                                                        <div class="fileTitle" title="@item.DocName">@item.DocName</div>
                                                        <br>
                                                        <small>@item.UploadDate</small>
                                                        <br>
                                                        <small style="color:#f50e8d">@item.DocSize</small>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                @Service.CommonHtmlHelper.PaginationPager(Model.Index, 28, Model.Count, 7, Model.Url)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            //添加新用户
            $("#insert").click(function () {
                dig.addPage("添加新文档", "/Pro/ProjectDocument/detail?projectId=" + $("#ProjectId").val(), 800, 250, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
            //列表选择修改
            $('#modify').click(function () {
                var vals = '';
                var num = 0;
                $('input[name="checkbox_name"]:checked').each(function () {
                    vals = $(this).val();
                    num++;
                });
                if (!vals) {
                    dig.error("对不起，请选中您要操作的记录！");
                    return;
                }
                if (num > 1) {
                    dig.error("对不起，每次只能修改一条记录！");
                    return;
                }
                dig.addPage("编辑文档", "/Pro/ProjectDocument/detail/" + vals, 800, 250, function () {
                    if (this.returnValue == 'yes') {
                        location.reload();
                    }
                });
            });
        });
    </script>
}



